<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a routerLink="/" href="#" class="nav-link">Home</a>
    </li>

    <li class="nav-item">
      <a routerLink="class-list" href="#" class="nav-link">Classes</a>
    </li>

    <!--
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="classesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classes
    </a>
    <div class="dropdown-menu" aria-labelledby="classesDropdown">
      <a href="#" class="dropdown-item">4AHITM</a>
      <a href="#" class="dropdown-item">4BHITM</a>
    </div>
  </li>
  --></ul>
</nav>
